@import "tailwindcss";

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family:
		-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
		Cantarell, sans-serif;
}

img.emoji {
	display: inline;
	height: 1em;
	width: 1em;
	vertical-align: -0.1em;
	object-fit: contain;
}
